/* Google font Cdn */
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{ 
   font-family: "Inter", sans-serif;
}
.YesevaOne{
  font-family: "Yeseva One", serif;
}


@import "tailwindcss";
@plugin "daisyui";

.buttonStyle {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.buttonStyle:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
};

.buttonStyle:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
};


